.nav-bar{
    width:100%;
    align-items: center;
}
.logo{
   cursor:pointer;
   float:left;
}
.menui{
   float:right;
   padding-top:0rem;
   padding-right: 1rem;
   padding-left: 1rem;
   display:none;
}
.nav-bar ul li{
   list-style:none;
   /* display:inline-block; */
   padding-right: 1rem;
   padding-left: 1rem;
   float:right;
}
.nav-bar ul li a{
   text-decoration:none;
   font-size:16px;
   color:#1D1D1F;
}

/* .row{

} */
.col-a{
   float:left;
   margin-top:8rem;
   clear:left;
}
.col-a h2{
   font-size:45px;
   font-weight:semi-bold;
}
.col-a p{
   padding-top:1rem;
   padding-bottom:1rem;
   font-size:12px;
}
.btn-1{
   background-color:#06C167 ;
   border:none;
   padding:1rem;
   color:white;
   margin-top:0.5rem;
   font-size:12px;
}
.btn-1 img{
   width:0.8rem;
   left:0.8rem;
}
.col-b{
   float:right;
   clear:right;
}
.imge2{
   position:relative;
   margin-top:3rem;   
}
.Polcadot{
   position:absolute;
   top:36.9rem;
   left:64.2rem; 
}
.col-b p{
   box-sizing:border-box;
   width:15rem;
   border-radius:2rem;
   color:#1D1D1F;
   font-size:15px;
   text-align: center;
   border: 1px solid white;
   background-color: white;
   position:absolute;
   
}
.p1{
   top:24.5rem;
   left:37.5rem;
   padding: 0.8rem;
}
.p2{
   top:19.5rem;
   left:61rem;
   padding:auto;
}
.stars{
  vertical-align: middle;
} 
.logobar{
   float:left;
   /* display:inline; */
   margin-top:15rem;
}
.logobar img{
   height:35.84px;
}
.features{
   box-sizing:border-box;
   width:68rem;
   height:160px;
   color:#1D1D1F;
   text-align: center;
   border:1.5px solid #707070;
   border-left:none;
   border-right:none;
   background-color: white;
   float:left;
   margin-top:6rem;
   clear:both;  
}
.big{
   font-size:18px;
   text-align: center;
}
.small{
   font-size:14px;

}
.icons{
   vertical-align: middle;
}
.features ul li{
   list-style:none;
   /* display:inline-block; */
   padding-right: 1rem;
   padding-left: 1rem;
   float:left;
}
.icons1{
   float:left;
   padding-top:3rem;
}
.pa{
   padding-top: 4rem;
   float: left;
}
.icons2{
   float:left;
   padding-top:3rem;
   padding-left:4rem;
}
.pb{
   padding-top: 4rem;
   float: left;
}
.icons3{
   float:left;
   padding-top: 3rem;
}
.pc{
   padding-top:4rem;
   float: left;
}
.icons4{
   float:left;
   padding-top: 3rem;
}
.pd{
   padding-top:4rem;
   float: left;
}
@media only screen and (max-width:600px){
   .nav-bar ul{
       display:none;
   }
   .menui{
       display:block;
   }
}

