*{
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
}
.header-container{
    background-color: black;
    background-image:linear-gradient(#F3FCF7, #ffffff);  
    width:100%;
    min-height:600px;
    padding-top:3%;
    padding-left:8%;
    padding-right:8%;
    box-sizing: border-box;
    overflow:hidden;
     
}


